RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

php_value memory_limit 300M
php_value post_max_size 300M
php_value upload_max_filesize 300M